@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWg.eot")/*tpa=https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWg.eot*/;
}
